.recommendation-container {
    display: flex;
    align-items: center;
}

.recommendation-item {
    padding: 10px;
}

.rec-title, .search-title {
    font-weight:bold;
}

.rec-author, .search-author {

}

.rec-hide, .rec-show {
    font-size: 15px;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.rec-show {
    max-height: 1000px;
}

.rec-details {
    display: flex;
    flex-wrap: wrap;
}

.search-hide, .search-show {
    font-size: 15px;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.search-show {
    max-height: 1000px;
}

.search-item-container {
    padding: 10px;
    cursor: pointer;
}

.error-message {
    font-size: 20px;
    font-weight: bold:
}

.search-result-container {
    display: flex;
}

img {
    height: 25%;
}

.bookItem {
    padding: 10px;
}

#search-title {
    width: 25%;
}

.details-container-hide {
    display: none;
}

.details-container-show {
    z-index: 5;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

.details-container {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-img {
    width: 35%;
    height: auto;
}

.title {
    /*font-style: italic;*/
    font-weight: bold;
}

.author {
    font-size: 20%;
}

.exit-img {
    height: 20px;
}
